// bower:scss
// endbower
/* Simple CSS reset. */
@import url("//fonts.googleapis.com/css?family=Lato|Open+Sans|Abril+Fatface|Archivo+Black|Raleway|Space+Mono|Unica+One");
*, body, button, input, textarea, select {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0; }

/* Font imports... */
/*! Typebase.scss v0.1.0 | MIT License */
/* Setup */
html {
  /* Change default typefaces here */
  font-family: 'Lato', serif;
  font-size: 137.5%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: auto;
  -moz-text-size-adjust: auto;
  -ms-text-size-adjust: auto;
  -o-text-size-adjust: auto;
  text-size-adjust: auto;
}

/* Copy & Lists */
p {
  line-height: 1.1625rem;
  margin-top: 1.1625rem;
  margin-bottom: 0; }

ul,
ol {
  margin-top: 1.1625rem;
  margin-bottom: 1.1625rem; }
  ul li,
  ol li {
    line-height: 1.1625rem; }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-top: 0;
    margin-bottom: 0; }

blockquote {
  line-height: 1.1625rem;
  margin-top: 1.1625rem;
  margin-bottom: 1.1625rem; }

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  margin-top: 1.1625rem;
  margin-bottom: 0;
  line-height: 1.1625rem; }

h1 {
  font-size: 4.242rem;
  line-height: 3.4875rem;
  margin-top: 2.325rem; }

h2 {
  font-size: 2.828rem;
  line-height: 2.325rem;
  margin-top: 2.325rem; }

h3 {
  font-size: 1.414rem; }

h4 {
  font-size: 0.707rem; }

h5 {
  font-size: 0.4713333333rem; }

h6 {
  font-size: 0.3535rem; }

/* Tables */
table {
  margin-top: 1.1625rem;
  border-spacing: 0px;
  border-collapse: collapse; }

td,
th {
  padding: 0;
  line-height: 34.1px; }

/* Code blocks */
code {
  vertical-align: bottom; }

/* Leading paragraph text */
.lead {
  font-size: 1.414rem; }

/* Hug a the block above you */
.hug {
  margin-top: 0; }

/* Utility classes. */
.vertical-center, .navigation {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.horizontal-center, .whoami img.portrait {
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

.true-center, .loading-screen .cd-spinner, .container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); }

html, body {
  max-width: 100%;
  height: 100%;
  background-color: #FFF; }
body {
  position: relative;
}
.loading-screen {
  background: #222;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999; }
  .loading-screen.loaded {
    display: none; }
  .loading-screen .cd-spinner {
    width: 80px;
    height: 80px; }
    .loading-screen .cd-spinner img {
      width: 100%;
      height: 100%; }
  .loading-screen .progress-bar {
    position: absolute;
    bottom: 25%;
    left: 0;
    width: 220px;
    height: 15px;
    background: #000; }

.content {
  max-width: 100%;
  min-height: 100%;
  opacity: 0; }

.landing {
  overflow: auto;
  position: absolute;
  width: 100%;
  min-width: 685px;
  height: 100%;
  overflow: scroll; }

.container {
  display: table; }

.whoami {
  float: left;
  padding: 1em;
  text-align: right;
  width: 250px;
  box-sizing: border-box; }
  .whoami .name {
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 0.5em;
    padding-bottom: 0.25em;
    margin-bottom: 0.5em;
    border-bottom: 0.5px solid #CCC; }
  .whoami .bio {
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    color: #666;
    display: block;
    font-weight: 400;
    text-align: center;
    width: 100%; }
    .whoami .bio .location {
      display: block;
      margin-top: 0.97em;
      margin-bottom: 1.33em;
      cursor: pointer; }
      .whoami .bio .location img {
        display: inline-block;
        width: 25px;
        height: 25px;
        margin-bottom: -6px; }
      .whoami .bio .location:hover {
        font-weight: 900; }
  .whoami .links {
    margin-top: 0.4em;
    margin-bottom: 0.1625rem; }
    .whoami .links > li {
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      font-family: "Space Mono", monospace;
      letter-spacing: 1px;
      border: 1px solid #DDD;
      border-bottom: none;
      padding: 8px;
      /*; 0em;*/
      cursor: pointer;
      -moz-transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease; }
      .whoami .links > li:last-child {
        border-bottom: 1px solid #DDD; }
      .whoami .links > li:hover {
        background-color: #f7f7f7;
        font-weight: bold;
        font-size: 15px; }
      .whoami .links > li > a {
        text-decoration: none;
        color: #222; }
  .whoami img.portrait {
    border: 2px solid #5CDAFF;
    transition: all 0.5s ease;
    box-sizing: border-box; }
    .whoami img.portrait:hover {
      border-width: 10px;
      cursor: pointer;
      border-color: #FF795C; }
  .whoami:after {
    display: block;
    content: " ";
    clear: both; }

.navigation {
  float: left;
  transform: translateY(64.6%);
  font-family: "Archivo Black", serif;
  text-transform: uppercase;
  box-sizing: border-box;
  height: 100%;
  margin-left: 2em; }
  .navigation ul {
    display: block; }
  .navigation ul > li a {
    color: #000;
    text-decoration: none;
    cursor: pointer; }
  .navigation ul > li {
    font-size: 2em;
    margin-bottom: 1em;
    position: relative;
    cursor: pointer;
    float: left;
    clear: left;
    padding-right: 0.1375em; }
  .navigation ul > li:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -14px;
    height: 4px;
    width: 0;
    background: transparent;
    transition: width .55s ease, background-color .55s ease; }
  .navigation ul > li:hover:after {
    width: 100%;
    background: #FF795C; }

.circle-crop {
  border-radius: 50%;
  display: block;
  width: 180px; }

.heading-container {
  padding-bottom: 2em;
  position: relative;
  margin: 0 auto;
  opacity: 0;
  padding-bottom: 500px;
}

.heading {
  color: #FFF;
  background-color: #FF795C;
  padding: 2em 3em;
  display: inline-block;
  margin: 0 auto;
  h1, h2, h3 {
    text-transform: uppercase;
    font-family: "Archivo Black", serif !important;
    line-height: 0.88em;
    margin-top: 0;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  }
  h1 {
    padding-bottom: 9px;
  }
}

.depth-after, .depth-before {
  position: relative;
  height: 0;
  border-top-color: desaturate(darken(#FF795C, 15%), 30%) !important;
  border-bottom-color: lighten(#FF795C, 10%) !important;
}

#back {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  display: none;
}

#info-container {
  background: url("../images/brickwall.jpg");
  background-repeat: repeat-y;
  background-position: center;
}
